
.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: #062168;
}
.nav-ul li{
  display:  inline-block;
  padding: 10px;
}
.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  background-color: #062168;
  width: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.register, .product{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
  margin-top: 100px;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid #062168;
  width: 300px;
  margin: 20px;
}

.appButton {
  margin: 20px;
  width: 150px;
  color: aliceblue;
  border-radius: 8px;
  padding: 10px;
  background-color: #5d6191;
  border: solid 1px;
  cursor: pointer;
}
.nav-right{
  text-align: right;
}
.logo {
  width: 130px;
  height: 45px;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

.invalid-input {
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: 20px;
}

.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid #062168;
  padding: 5px;
}

.product-list ul{
  margin: 0;
}

.pl{
color: #fff;
}

.search-product-box {
  width: 400px;
  margin: 20px;
  height: 38px;
  padding-left: 30px;
  border: solid 1px #062168;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*for start using login register app*/ 

.login {
  width: 400px;
  background: #141a65;
  color: aliceblue;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.login > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.login > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

/*for end using login register app*/

/*for start using login register app*/ 

.register {
  width: 400px;
  background: #141a65;
  color: aliceblue;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.register > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.register > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

/*for start using login register app*/ 